.menu{
    margin-left: 78px;
    padding-right: 55px;
    margin-top: 15px;
  }
 
  .user{
    margin-left: 1400px;
    margin-top: 50px;
  }
  .butao{
    margin-top: 20px;
    margin-left: 20px;
  }
  .avatar{
    margin-left: 80px;
    margin-top: 40px;
    
  }