
.menu{
    margin-left: 78px;
    padding-right: 55px;
    margin-top: 15px;
  }
 
  .butao{
    margin-top: 20px;
    margin-left: 20px;
  }
  .grafico{
    padding-right: 50px;
    margin-top:0px;
    margin-left: -10px;
  }
  h1{
    margin-left: 550px;
    margin-top: 100px;
  }
  .favoritos{
    margin-left: 300px;
    margin-top: -200px;
  }
  .carrinho{
    margin-left: 300px;
    margin-top: 10px;
  }