  <div class="avatar">
    <p-avatar 
    icon="pi pi-user" 
    styleClass="mr-2" 
    [style]="{ 'background-color': '#dee9fc', color: '#1a2551', 'width': '250px', 'height': '250px', 'font-size': '100px' }" 
    shape="circle" />
  </div>
  <div class="favoritos">
    <p-button icon="pi pi-heart" (onClick)="favoritos()" label="Favoritos" class="p-button-raised" severity="secondary" ></p-button>
  </div>
  <div class="carrinho">
    <p-button icon="pi pi-cart-minus"(onClick)="carrinho()" label="Carrinho" class="p-button-raised" severity="secondary" ></p-button>
  </div>
  <div class="carrinho">
    <p-button icon="pi pi-cog"   label="Configurações de conta" class="p-button-raised" severity="secondary" ></p-button>
  </div>
  <h1>Gráfico de compras</h1>
  <div class="grafico">
    <p-chart type="bar" [data]="data" [options]="options" />
  </div>