.menu{
    margin-left: 78px;
    padding-right: 55px;
    margin-top: 15px;
  }
 
  .tabela{
    margin-left: 78px;
    padding-right: 55px;
    margin-top: 15px;
  }
  .butao{
    margin-top: 20px;
    margin-left: 20px;
  }