
  .produtos{
    margin-top: 20px;
    margin-left: 20px;
  }
  .menu{
    margin-left: 78px;
    padding-right: 55px;
    margin-top: 15px;
  }
 
  .user{
    margin-left: 1400px;
    margin-top: 50px;
  }
  .butao{
    margin-top: 20px;
    margin-left: 20px;
  }