<p-sidebar [(visible)]="sidebarVisible">
  <div class="small-image"><img src="./assets/allcortex.png" alt="logo" class="small-image"></div>
  <div class="flex justify-content-center flex-wrap gap-3 mb-4">
    <p-button (onClick)="index()" icon="pi pi-home" severity="secondary"></p-button> <br><br>
    <p-button  (onClick)="ConfigurarProduto()" icon="pi pi-cog" severity="success"></p-button><br><br>
    <p-button (onClick)="carrinho()" icon="pi pi-cart-minus" severity="info"></p-button><br><br>
    <p-button (onClick)="favoritos()" icon="pi  pi-heart" severity="out"></p-button><br>
  </div>
</p-sidebar>

<p-button class="butao" icon="pi pi-arrow-right" (click)="sidebarVisible = true"></p-button>
