<div class="card">
  <div class="small-image"><img src="./assets/allcortex.png" alt="logo" class="small-image"></div>
  
    <div class="user">
      <p-button (onClick)="usuario()" icon="pi pi-user" severity="info" />
  </div>
  <div class="like">
    <p-button  (onClick)="favoritos()" icon="pi pi-heart" class="p-button-raised" severity="secondary " />
  </div>
    <div class="carrinho">
      <p-button (onClick)="carrinho()" icon="pi pi-cart-minus" class="p-button-raised" severity="secondary " />
    </div>
  <div class="pesquisa">
    <app-barra-de-pesquisa></app-barra-de-pesquisa>
  </div>
  <p-megaMenu [model]="items" />
</div>