<!-- tabela.component.html -->
<div class="card">
    <p-table [value]="products" [tableStyle]="{'min-width': '60rem'}" selectionMode="single"
        [(selection)]="selectedProducts">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h1>Produtos</h1>
                <div class="criar">
                    <p-button icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></p-button>
                </div>
                <div class="recarregar">
                    <p-button icon="pi pi-refresh" class="p-button-secondary" (click)="loadProducts()"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Imagem</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.nome}}</td>
                <td><img [src]="product.img || 'https://via.placeholder.com/100'" [alt]="product.nome" width="100" class="shadow-4" /></td>
                <td>{{product.preco | currency:'USD'}}</td>
                <td>{{product.descricao}}</td>
                <td>
                        <p-button icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="editProduct(product)"></p-button>
                    
                    <div class="deletar">
                        <p-button icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="deleteProduct(product)"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Há um total de {{products ? products.length : 0}} produtos.
            </div>
        </ng-template>
    </p-table>

    <!-- Dialog de Detalhes do Produto -->
    <p-dialog header="Product Details" [(visible)]="productDialog" [modal]="true" [style]="{width: '50vw'}"
        [closable]="false">
        <div class="p-fluid">
            <div class="p-field">
                <label for="nome">Nome</label>
                <input id="nome" type="text" pInputText [(ngModel)]="product.nome" required autofocus>
            </div>
            <div class="p-field">
                <label for="descricao">Descrição</label>
                <textarea id="descricao" pInputTextarea [(ngModel)]="product.descricao" required></textarea>
            </div>
            <div class="p-field">
                <label for="preco">Preço</label>
                <input id="preco" type="number" pInputText [(ngModel)]="product.preco" required>
            </div>
            <!-- tabela.component.html -->
<div class="p-field">
    <label for="img">Imagem</label>
    <input id="img" type="file" (change)="onFileChange($event)" />
    <button (click)="uploadImage(product.id)">Upload Image</button>
  </div>
  
        </div>
        <div class="p-dialog-footer">
            <p-button label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></p-button>
            <p-button label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></p-button>
        </div>
    </p-dialog>
    
